@import url(icon.css);
@import url(banner.css);
@import url(card.css);
@import url(images.css);
@import url(accordian.css);
@import url(../theme.css);
@import url(../buttons.css);
@import url(../typography.css);
@import url(../layout.css);

.rd-spacer {
  height: 20px;
}

/* ICONS */

.bg-column_1 {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/assets/images/builder/css_sprites.png") -10px -10px;
}

.bg-column_2 {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/assets/images/builder/css_sprites.png") -10px -90px;
}

.bg-column_3 {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/assets/images/builder/css_sprites.png") -90px -90px;
}

.bg-card {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/assets/images/builder/css_sprites.png") -90px -10px;
}

.bg-heading {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/assets/images/builder/css_sprites.png") -170px -10px;
}

.bg-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/assets/images/builder/css_sprites.png") -170px -90px;
}

.bg-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/assets/images/builder/css_sprites.png") -10px -170px;
}

.bg-text {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/assets/images/builder/css_sprites.png") -90px -170px;
}

/* ICONS */

[data-gjs-type="wrapper"] {
  padding-bottom: 50px;
}

.min-width-100 {
  min-width: 100px;
}

.min-height-30 {
  min-height: 30px;
}


.buttons .transformation-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.banner-content-heading {
  color: #f9f9f9;
  font: "DIN";
  font-weight: 400;
  font-size: 32px;
  line-height: 38.75px;
  padding-right: 20px;
}

.banner-content-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

/* HEADING */

.heading,
.cards {
  position: relative;
  margin-bottom: 10px;
}

.layouts {
  margin-bottom: 10px;
  width: 100%;
}

.heading:has(.indicator) :is(.heading-primary.indicator,
  .heading-secondary.indicator,
  .heading-small.indicator) {
  padding-bottom: 10px;
}

.heading .indicator::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 5vw;
  height: 3px;
  background-color: #000;
}

.heading .heading-primary {
  position: relative;
  font-size: 32px;
}

.heading .heading-small {
  position: relative;
  font-size: 17px;
}

.heading .heading-primary.indicator::before {
  background-color: var(--red-color);
}

.heading .heading-small.indicator::before {
  background-color: var(--primary-color);
}

.heading:has(.heading-secondary + .heading-primary) .heading-secondary {
  color: var(--grey-mid);
}

.heading .heading-secondary {
  position: relative;
  font-size: 20px;
  line-height: 2;
}

.heading .heading-secondary.indicator::before {
  background-color: var(--mist);
  transition: none;
}

.home-page-text-color {
  color: #000;
}

.main-heading {
  position: relative;
  font-size: 32px;
  line-height: 2;
}

.sub-heading {
  position: relative;
  font-size: 20px;
  line-height: 2;
}

.heading .sub-heading {
  color: #999999;
}

.heading .sub-heading::before {
  content: none;
}

.main-heading::before,
.sub-heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 5vw;
  height: 0.2vw;
  background-color: #000;
}

.main-heading::before {
  background-color: #e6001c;
}

.sub-heading::before {
  background-color: #bcc9c1;
}

/* HEADING */

/* LAYOUT */

.container[data-gjs-highlightable="true"],
.row>*[data-gjs-highlightable="true"] {
  min-height: 50px;
}

.row {
  row-gap: 10px;
}

/* LAYOUT */

.object-fit-cover {
  object-fit: cover;
}

.feature-card {
  width: 100%;
  max-width: 400px;
  height: 180px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 0px rgba(153, 153, 153, 0.25);
}

.feature-card-2,
.feature-card-3 {
  top: 515px;
  left: 293px;
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 574px;
  height: 102px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(153, 153, 153, 0.25);
}

.feature-card-3 {
  height: 130px;
}

div.home-feature-icon {
  width: 100%;
  height: 100%;
}

div.home-image img.home-feature-icon {
  position: absolute;
  width: 22%;
  height: 10%;
  filter: brightness(0.5);
}

.feature-icon {
  width: 40px;
  height: 40px;
}

/* TEXT WITH ICON */

/* TEXT WITH ICON */

/* CONTACT US FORM */
.contact-us-form,
.our-offices-container {
  height: 300px;
}

/* CONTACT US FORM */

.component-placeholder {
  color: grey;
  padding: 20px 10px 10px 10px;
}

.component-placeholder .placeholder-title {
  font-size: 18px;
  font-weight: 600;
  color: grey;
}

.component-placeholder .placeholder-note {
  font-size: 13px;
  font-style: italic;
}

/* About Us Card */
.about-card {
  width: 300px;
  height: auto;
  display: flex;
  gap: 1px;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 0px rgba(153, 153, 153, 0.25);
}

.about-card,
.feature-description {
  justify-content: center;
  margin-top: 30px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
}

.feature-description1 {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.home-feature-description {
  justify-content: center;
  margin-top: 0px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 20px;
  font-weight: 900;
}

img.about-icon {
  width: 300px;
  height: 196px;
}

.learn-more-button {
  text-align: center;
}

.about-text-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding-left: 139px;
  margin-right: 20px;
}

/* Quick-links */

div.quick-links {
  position: relative;
  width: 100%;
  height: 355px;
  font-family: var(--rd-font-din) !important;
}

.card-link {
  position: relative;
  width: fit-content;
  font-size: 2rem;
}

.card-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6rem;
  height: 3px;
  margin-top: 10px;
  background-color: #000;
}

.card-link::before {
  background-color: #e6001c;
}

.feature-card-links {
  margin-top: 7px;
  margin-left: 10px;
  width: 168px;
  height: 116px;
  display: inline-block;
  text-align: center;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 0px rgba(153, 153, 153, 0.25);
}

.sm-card {
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.sm-card-row {
  row-gap: 0px;
}

.clrsm-card {
  color: #999999;
}

.sm-card-icon {
  width: 40px !important;
  height: 40px !important;
}

.sm-card-icon svg {
  width: 40px !important;
  height: 40px !important;
}

.sm-card-icon1 {
  width: 100% !important;
  height: auto !important;
}

.margin-right {
  margin: 10px;
}

.padding-square {
  padding-top: 5rem !important;

  padding-bottom: 5rem !important;
}

.card-square {
  width: 304px !important;
  max-height: 280px !important;
  height: 280px !important;
}

.square-box {
  display: inline-block;
}

.sm-icon-60 {
  width: 60px !important;
  height: 60px !important;
}

/* Button */

.about-button {
  background-color: blue;
  border: none;
  color: white;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 49px;
  border-radius: 2px;
  margin: 4px 2px;
  cursor: pointer;
}

.B-BBEEE-Button {
  background-color: #fff;
  color: #000;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 12px;
  width: 239px;
  height: 44px;
}

.view-our-csi-button {
  width: 239px;
  height: 44px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  background: #000;
  color: #ffffff;
  padding-top: 12px;
}

.custom-size-40x40 {
  width: 40px !important;
  height: 40px !important;
}

.custom-size-60x60 {
  width: 60px !important;
  height: 60px !important;
}

img.resp-img {
  position: absolute;
  width: 100%;
  height: auto;
  filter: brightness(0.5);
}

img.resp-img1 {
  position: relative;
  width: 100%;
  height: auto;
  filter: brightness(0.5);
}

.rd-link {
  color: var(--red-color) !important;
  cursor: pointer !important;
}

.rd-link .icon {
  margin-right: 16px;
}

.rd-link:hover {
  color: var(--deep-red-color) !important;
  text-decoration: underline !important;
}

/* OFFICE CARD */
.office-card {
  height: 260px;
  box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.4);
}

.content-card {
  height: 480px;
  box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.4);
}

.banner-carousel {
  height: 700px;
  box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.4);
}

.banner-carousel .card-placeholder {
  background-color: #f2f2f2;
}

.tabs {
  height: 400px;
}

.tabs .card-placeholder {
  background-color: #f2f2f2;
}

.content-card.card-placeholder {
  background-color: #f2f2f2;
}

.office-card.card-placeholder {
  background-color: #f2f2f2;
}

/* OFFICE CARD */
.size {
  width: 40% !important;
  height: 100% !important;
}

/* Containers */

.rd-container__left-aligned {
  min-height: 50px;
  height: auto;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.rd-container__right-aligned {
  min-height: 50px;
  height: auto;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 15px;
}

.rd-container__space-between {
  min-height: 50px;
  height: auto;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.rd-container__center-aligned {
  min-height: 50px;
  height: auto;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.rd-color {
  color: #ffffff;
}

/* Containers */

.no-pd {
  padding: 0px !important;
}

.homecardml {
  margin-left: 5px;
}

.homecardmr {
  margin-right: 5px;
}

.home-card {
  position: relative;
  width: 100%;

  height: 28.75rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #f9f9f9;
}

.home-card:hover .home-card-image {
  transform: scale(1.2);
}

.home-card:hover .home-card-image2 {
  transform: scale(1.2);
}

.home-card:hover .home-page-text-color .rd-heading {
  transform: scale(1.2);
  transform-origin: left;
}

.home-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(to left,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 1) 130%);
}

.home-card .home-page-text-color .rd-heading {
  transition: all 0.3s ease-in-out;
  font-family: var(--font-din) !important;
}

.home-card .home-card-image {
  height: 100%;
  text-align: right;
  transition: all 0.3s ease;
  width: auto;
  right: 0;
  bottom: 0;
  position: absolute;
}

.home-card .home-card-image2 {
  height: 100%;
  text-align: right;
  transition: all 0.3s ease;
  width: 100%;
}

.home-card .home-card-body {
  position: absolute;
  padding: 2rem;
  z-index: 2;
}

.home-card .home-card-content {
  padding: 25px 0;
  font-size: 20px;
}

.text-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inline-block {
  display: flex;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.heading .heading-secondary.indicator::before :hover {
  transform: none;
}



/* PEOPLE CARD */

/* Video Component */

.video-wrapper {
  width: 100%;
  min-height: 350px;
  height: 100%;
}

/* Video Component */
.home-prop-text .rd-heading {
  color: #f2f2f2 !important;
}

.pd-no {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.home-prop-text {
  font-size: 32px;
  position: absolute;
  bottom: 15%;
  left: 15%;
  color: currentColor;
  transition: bottom 0.3s ease;
}

.home-property-img {
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}

.home-property {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.home-property:hover .overlay {
  background: rgb(0, 0, 0, 0.5);
}

.home-property::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  /* Initial transparent background */
  transition: all 0.6s ease-in-out;
  /* Fade transition effect */
  z-index: 1;
  pointer-events: none;
  /* Disable pointer events on the overlay */
}

.home-property:hover::before {
  background: rgb(0, 0, 0);
  /* Black overlay on hover */
}

.home-property:hover .home-prop-text {
  bottom: 45%;
  /* Move the heading up when hovering */
  z-index: 2;
}

.home-property .rd-indicator.rd-indicator-lg {
  width: 60px;
  top: 10px;
}

.home-card-4-columns {
  z-index: 1;

  background: white;
}

.new-text {
  position: absolute;
  bottom: 10%;
  /* Adjust the position as needed */
  left: 15%;
  /* Adjust the position as needed */
  color: white Important;
  opacity: 0;
  /* Initially hidden */
  transition: all 0.3s ease;
  /* Fade transition effect */
}

.home-property:hover .new-text {
  opacity: 5;
  /* Show the new text on hover */
  bottom: 20%;
  left: 15%;
  color: White !important;
  z-index: 3;
  font-size: 32px;
}

.home-propcard-text {
  font-size: 24px;
  margin-left: 109px;
  font-family: var(--font-din) !important;
}

/* --------------------------- */
.global-bgcard-text .rd-indicator.rd-indicator-lg {
  width: 60px;
  top: 20px;
}

.global-bgcard:hover .rd-indicator.rd-indicator-lg {
  top: -3px;
}

.global-bgcard-text {
  position: absolute;
  bottom: 16%;
  left: 5%;
  transition: bottom 0.3s ease;
}

.global-bgcard {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.global-bgcard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Initial transparent background */
  transition: all 0.6s ease-in-out;
  /* Fade transition effect */
  z-index: 1;
  pointer-events: none;
  /* Disable pointer events on the overlay */
}

.global-bgcard:hover .global-bgcard-text {
  bottom: 45%;
  /* Move the heading up when hovering */
  z-index: 2;
}


.global-bgcard:hover .new-text {
  opacity: 5;
  /* Show the new text on hover */
  bottom: 16;
  left: 4%;
  color: White !important;
  z-index: 3;
  font-size: 32px;
}

@media only screen and (min-width: 768px) {
  .home-card .home-card-image {
    height: 50% !important;
    text-align: right;
    transition: all 0.3s ease;
    width: auto;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .home-card .home-card-image2 {
    height: 100% !important;
    transition: all 0.3s ease;
    width: 100%;
    text-align: right;
  }
}

@media only screen and (min-width: 1024px) {
  .home-card .home-card-image {
    height: 80% !important;
    transition: all 0.3s ease;
    width: auto;
    text-align: right;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .home-card .home-card-image2 {
    height: 100% !important;
    transition: all 0.3s ease;
    width: 100%;
    text-align: right;
  }
}

@media only screen and (min-width: 1400px) {
  .home-propcard-text {
    font-size: 24px;
    margin-left: 134px;
  }
}

@media only screen and (min-width: 1600px) {
  .home-propcard-text {
    font-size: 24px;
    margin-left: 163px;
  }
}

@media (min-width: 567px) and (max-width: 1000px) {
  #contactus-page>.col-md-6 {
    width: 100%;
  }
}

.bg-card-color {
  background-color: grey;
}

.colored-card {
  background-color: grey;
}

.rd-card-flex-container {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
}

.rd-card-flex-item {
  width: 248px;
  height: 96px;
  display: flex;
  align-items: center;
  /* Align content vertically center */
  justify-content: left;
}

@media only screen and (max-width: 600px) {
  .home-propcard-text {
    font-size: 14px;
    margin-left: 0px;
    padding: 20px 10px 10px 10px;
  }

  .home-prop-text {
    font-size: 16px;
    position: absolute;
    bottom: 10%;
    left: 15%;
    transition: bottom 0.3s ease;
  }

  .home-prop-text .rd-heading-lg-normal {
    font-size: 20px !important;
  }

  .home-card .home-card-image {
    height: 61%;
    text-align: right;
    transition: all 0.3s ease;
    width: auto;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .home-card .home-card-image2 {
    height: 100% !important;
    transition: all 0.3s ease;
    width: 100%;
    text-align: right;
  }

  .home-property:hover .home-prop-text {
    bottom: 50%;
    /* Move the heading up when hovering */
    z-index: 2;
  }

  .new-text .rd-btn-text span {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 10px;
  }

  .home-property:hover .new-text {
    opacity: 5;
    /* Show the new text on hover */
    bottom: 17%;
    left: 15%;
    color: White !important;
    z-index: 3;
    font-size: 32px;
  }

  .home-property:hover .rd-indicator.rd-indicator-lg {
    width: 60px;
    top: 5px;
  }

  .new-text .rd-btn-text .rd-icon {
    width: 24px !important;
    height: 24px !important;
  }

  .home-card {
    position: relative;
    width: 100%;
    max-height: 28.75rem;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #f9f9f9;
  }
}

[data-carousel-type="home-banner-carousel"][data-gjs-highlightable="true"],
[data-carousel-type="custom-carousel"][data-gjs-highlightable="true"] {
  background-image: url(/assets/images/builder/home-page-landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  overflow: hidden;
  background-position: center;
}

.rd-hr-line {
  width: 100%;
  height: 1px;
  color: black;
  border-top: 2px solid rgba(153, 153, 153, 0.4);
}

.rd-hr-line2 {
  width: 80%;
  height: 1px;
  color: #fff;
  border-top: 2px solid rgb(255, 255, 255);
}

a#scrollToTopBtn {
  display: visible;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  transition: opacity 0.3s;
}

a#scrollToTopBtn:hover {
  background-color: #0056b3;
}

/* Show the button when the user scrolls down */
body.scrolled a#scrollToTopBtn {
  display: inline-block;
}

.rd-align-item-center-banner {
  align-items: center;
}

@media (max-width: 768px) {
  #ifuq9 {
    padding: 0 !important;
  }
}

/* POPUP */

.rd-popup {
  display: inline-block;
}

.rd-popup .modal-header {
  border: none !important;
}

.brandsLogo-card .card {
  padding: 0;
  border-radius: 0;
  align-items: center;
  width: 239px;
  height: 239px;
  justify-content: center;
  text-align: center;
}

.brandsLogo-card .card-body {
  flex: inherit;
  height: 0;
  line-height: 1rem;
}

.brandsLogo-card .card img {
  height: auto !important;
}

.brandsLogo-card .d-flex.flex-wrap {
  gap: 1.5rem;
}

.brandsLogo-card .image-block {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandsLogo-card .card-text:last-child {
  font-size: 0.8rem;
  margin-top: 15px;
}

.mteric-card-1 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metric-feature-card-2 {
  top: 515px;
  left: 293px;
  display: flex;
  column-gap: 20px;
  width: 100%;
  max-width: 574px;
  font-weight: bolder;
  row-gap: 10px;

}


.metric-description1 {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#our-benchmarks details {
  box-shadow: none;
  padding: 0;
}

#our-benchmarks summary>div {
  padding-left: 0;
}

#our-benchmarks summary.d-flex {
  padding: 0;
  margin-bottom: 15px;
}

@media only screen and (min-width:1100px) and (max-width:1400px) {
  .brandsLogo-card .card {
    width: 203px;
    height: 203px;
  }
}

@media only screen and (min-width:1000px) and (max-width:1168px) {
  .brandsLogo-card .card-text:last-child,
  .brandsLogo-card .card-text:last-child span {
    font-size: 0.7rem !important;
    margin-top: 15px;
  }
}